* {
    margin: 0;
    padding: 10px;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    

}

nav {
   
    padding: 10px;
    width: 20%;
    height: auto;

}

main {
   max-width: fit-content;
}

header img { 
    height: 60px;
}

nav a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px;
    display: block;
    background-color: white;
    
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 20%;
    left: 5%;
    color: white;
    font-size: 3rem;

}

.hero article img {
    float: right;
    width: 200px;
    margin-left: 1rem;
  }

.hero article {
    position: absolute;
    bottom: 10%;
    left: 5%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 1rem;
    border-radius: 10px;
}

footer {
    background-color: white;
    color: white;
    text-align: center;
    padding: 1rem;
    width: 20%;
    height: auto;

}



