:root {
    --primary-color: steelblue;
    --accent-colar: white;
    --text-color: black;
    --background-color: white;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header,
main,
footer {
    max-width: 1000px;
    margin: 0 auto;
}

header img {
    height: 60px;
}

nav a {
    color: var(--text-color);
    padding: 1rem;
    background-color: var(--accent-colar);

}

nav {
    background-color: var(--background-color);
    padding: 10px;

}

h1 {
    color: var(--text-color);
}

footer {
    margin-top: 10px;
    border-top: 5px solid #000;
    text-align: center;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 1em;
    width: 100%;
    background-color: rgba(240, 248, 255, 0.435);
}

.hero article {
    position: absolute;
    bottom: 3em;
    width: 100%;
    background-color: rgba(240, 248, 255, 0.435);
}

.hero img {
    width: 100%;
    display: block;
}

.hero article img {
    float: right;
    width: 200px;
}



.socialmedia a {
    text-decoration: none;
    display: inline-block;
}


.socialmedia img {
    width: 75px;

}

.socialmedia {
    justify-self: end;
}