* {
    margin: 0;
    padding: 10px;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    
}

main {
   max-width: fit-content;
}

main img {
    width: 100%;
    height: auto;
    border: 10px;
    padding: 10px;
    box-shadow: none;
}

aside {
    width: 100%;
    margin: auto;
    border: 10px;
    padding: 10px;
    background-color: steelblue;
    color: black;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

header img { 
    height: 60px;
}

nav a {
    color: black;
    padding: 10px;
    display: block;
    background-color: white;
    
}

nav {
    background-color: white;
    padding: 10px;

}
h1 {
    color: black;
}

footer {
    margin-top: 10px;
    border-top: 10px;
    text-align: center;
    height: 50px;
    width: 50px;
}







