:root {
    --text-color: black;
    --background-color: steelblue;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header,
main,
footer {
    max-width: 1269px;
    margin: auto;
}

header {
    display: grid;
    grid-template-columns: 200px auto;
    align-items: center;
    background-color: var(--background-color);
    color: var(--text-color);
}

header img {
    height: 150px;
    display: grid;
    grid-template-columns: 150px 1fr;
}

nav a {
    padding: 1rem;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    background-color: #fff;
    color: steelblue;
}

nav {
    background-color: var(--background-color);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

h1 {
    color: var(--text-color);
}



.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    background-color: rgba(240, 248, 255, 0.435);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero article {
    position: absolute;
    bottom: 3em;
    left: 3em;
    right: 3em;
    background-color: rgba(240, 248, 255, 0.435);
}

.hero img {
    width: 100%;
    display: block;

}

.hero article img {
    float: right;
    width: 150px;
    display: flex;
    justify-content: right;

}

footer {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    align-items: center;
    padding: 1rem;
    background-color: black;
    color: white;
    margin-top: 100px;

}


.socialmedia a {
    text-decoration: none;
    display: inline-block;
}


.socialmedia img {
    width: 75px;

}

.socialmedia {
    grid-column: 3;
    background-color: #fff;
}

.history-part img {
    width: 255px;
    height: auto;
    display: grid;

}

.history-part {
    margin: 20px 0;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 2em;
    align-items: center;
}

.history-part h2,
.letsgo h2 {
    grid-column: 1/-1;
    grid-row: 1;
    padding: 1em 0;
    text-align: center;
}

.letsgo {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;
    align-items: center;
}

img {
    width: 100%;
}

figcaption {
    text-align: center;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

/* this is start of contact us page */

.three {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    align-items: center;
}

.three h2 {
    grid-column: 1/-1;
    grid-row: 1;
    padding: 1em 0;
    text-align: center;
}

.title {
    grid-column: 1/-1;
    grid-row: 1;
    padding: 1em 0;
    text-align: center;
}

iframe {
    width: 600px;
    height: 450px;
    border: 0;
}