* {
    margin: 0;
    padding: 10px;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    
}

main {
   max-width: fit-content;
}

main image {
    width: 100%;
    height: auto;
    border: 10px;
    padding: 10px;
    box-shadow: inset;
}

aside {
    width: 100%;
    margin: auto;
}

header img { 
    height: 60px;
}

nav a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px;
    display: block;
    background-color: white;
    
}

nav {
    background-color: white;
    padding: 10px;
    
}







