:root {
    --text-color: black;
    --background-color: white;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header,
main,
footer {
    max-width: 1269px;
    margin: auto;
}

header {
    display: grid;
    grid-template-columns: 200px auto;
    align-items: center;
    background-color: white;
    color: white;
}

header img {
    height: 70px;
    display: grid;
    grid-template-columns: 150px 1fr;
}

.home-item nav {
    padding: 1rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

nav {
    background-color: var(--background-color);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

h1 {
    color: var(--text-color);
}



.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 1em;
    width: 100%;
    background-color: rgba(240, 248, 255, 0.435);
    justify-content: center;
    align-items: center;
}

.hero article {
    position: absolute;
    bottom: 3em;
    width: 100%;
    background-color: rgba(240, 248, 255, 0.435);
    display: flex;
}

.hero img {
    width: 100%;
    display: block;
}

.hero article img {
    float: right;
    width: 150px;
    align-items: center;
}

footer {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    align-items: center;
    padding: 1rem;
    background-color: black;
    color: white;
    margin-top: 100px;

}


.socialmedia a {
    text-decoration: none;
    display: inline-block;
}


.socialmedia img {
    width: 75px;

}

.socialmedia {
    justify-self: end;
}

.history-part img {
    width: 255px;
    height: auto;
}

.history-part {
    margin: 20px 0;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 2em;
    align-items: center;
    text-align: justify;
}



.letsgo img {
    margin: 50px 0;
    display: grid;
    grid-template-rows: 20%;
}

.history-part,
.letsgo {
    grid-column: 1/-1;
    grid-row: 1;
    justify-content: center;
    padding: 1em 0;
}