:root {
    --accent-colar: white;
    --text-color: black;
    --background-color: white;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header,
main,
footer {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-rows: auto;
}

header img {
    height: 70px;
    display: grid;
    grid-template-columns: 150px 1fr;
}

nav a {
    color: var(--text-color);
    padding: 1rem;
    background-color: var(--accent-colar);


}

nav {
    background-color: var(--background-color);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;


}

h1 {
    color: var(--text-color);
}

footer {
    margin-top: 10px;
    border-top: 5px solid #000;
    text-align: center;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 1em;
    width: 100%;
    background-color: rgba(240, 248, 255, 0.435);
    justify-content: center;
    align-items: center;
}

.hero article {
    position: absolute;
    bottom: 3em;
    width: 100%;
    background-color: rgba(240, 248, 255, 0.435);
    display: flex;
}

.hero img {
    width: 100%;
    display: block;
}

.hero article img {
    float: right;
    width: 150px;
    align-items: center;
}

footer p {
    display: flex;
    justify-content: center;
    align-items: center;
}


.socialmedia a {
    text-decoration: none;
    display: inline-block;
}


.socialmedia img {
    width: 75px;

}

.socialmedia {
    justify-self: end;
}

section h2 {
    text-align: center;
}

.fivepic {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.fivepic figure {
    text-align: center;
    width: 150px;

}

.fivepic img {
    width: 120px;
    height: auto;
}