:root {
    --primary-color: steelblue;
    --accent-colar: white;
    --text-color: black;
    --background-color: white;
}


* {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}



body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    
}

main {
   max-width: fit-content;
}

main img {
    width: 100%;
    height: auto;
    border: 10px;
    padding: 10px;
    box-shadow: none;
}

aside {
    width: 100%;
    margin: auto;
    border: 10px;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--text-color);
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

header img { 
    height: 60px;
}

nav a {
    color: var(--text-color);
    padding: 10px;
    display: block;
    background-color: var(--background-color);
    
}

nav {
    background-color: var(--background-color);
    padding: 10px;

}
h1 {
    color: var(--text-color);
}

footer {
    margin-top: 10px;
    border-top: 10px;
    text-align: center;
    height: 50px;
    width: 50px;
}

.hero {
    position: relative;
}

.hero img{
    width: 100%;
    display: block;
}

.hero article img {
    float: right;
}

.socialmedia a {
    text-decoration: none;
    display: inline-block;
}








