
* { 
    margin: 0;
    padding: 0;
}

body, h2 {
    font-family: Arial, sans-serif;
    line-height: 1.6rem;
}

header {
    background-color:  rgb(209, 182, 127);
    color: #fff;
    padding: 10px 0; 
    text-align: left;
    font-size: 1.5rem;
}

footer {
    background-color:  rgb(209, 182, 127);
    color: #fff;
    padding: 10px 0; 
    text-align: center;
    font-size: 1.5rem;
}

main {
    
    width: 350px;
    margin: 0 auto;

}

h1 {
    margin: 10px;
    text-align: center;
}

h2 { 
    margin: 10PX;
    
}

img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px #491a1a;
}

section, aside, ul {

    margin: 20px 0;
    border: 20px solid rgba(0, 0, 0, 0.664);
    padding: 10%;
    background-color: rgb(209, 182, 127);
    font-size: .9rem;

}

ul { 
    margin: 10px 20px 0;
}

footer {
    font-size: .9rem;
    color: #222;
}