
body {
    font-family: Arial, sans-serif;
    line-height: 1.6rem;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0; 
    text-align: center;
    font-size: 1.5rem;
}

main {
    
    width: 400px;
    margin: 0 auto;

}

h1 {
    margin: 10px;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px #333;
}


section {

    margin: 20px 0;
    border: 1px solid rgb(0 0 0 /10%);
    padding: 10%;
    background-color: #ddd;
    font-size: .9rem;

}
